*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(103, 8, 103);
    width: 100%;
}

main{
    display: flex;
    justify-content: center;
    border: 2px solid;
    background-color: #ffff;
}