*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(103, 8, 103);
}

main{
   background-color: #fff;
}
.header h1{
    justify-content: center;
    border: #fff;
   
    border-radius: 2%;
    background-origin: padding-box;
   
} 
